#. ./env (. env and source env doesn't work! needs the path!)
export STRIPE_LIVE_SECRET_KEY=sk_live_XXX
export STRIPE_TEST_SECRET_KEY=sk_test_XXX
export GITHUB_API_KEY=XXX
export EMAIL_HOST=XXX
export EMAIL_HOST_USER=XXX
export EMAIL_HOST_PASSWORD=XXX
export DJANGO_SETTINGS_MODULE=cheep.settings
export DEBUG=True
